.mb-3 {

    background: #ecebdd;
    border: 1px solid grey;
    box-shadow: 0px 2px 3px grey;
    text-align: center;
    margin: 0 auto;
    margin-bottom: auto;
    padding: 10px;
    border-radius: 4px;
}